.burger{
  width:100%;
  background: #f0f0f070;
  height:100%;
  position:relative;
}
.burgerImage{
  width:100%;
  height:70%;
  transition: all .3s;
}
.burgerImage:hover{
  transform: scale(1.09);
}
.burgerName{
  padding:0;
  margin: 0;
  text-align: center;
  color:white;
}
.notHover{
  width:100%;
  height:70%;
  transition: all .3s;
}
.calorie{
  padding:0;
  margin: 0;
  font-weight: 300;
  color:white;
  text-align: center;
}
.price{
  padding:0;
  margin: 0;
  font-weight: 700;
  color:ghostwhite;
  text-align: center;
}
.stockOut{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:0;
  width:100%;
  height:40%;
  opacity:.7;
}