.ul_grid{
  display:grid;
  width:60rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
@for $x from 1 through 4{
  .ul-grid .li:nth-child(#{$x}){
    list-style: none;
    text-align: center;
    opacity:0;
    transition:$x * 0.1s + .4s;
    transition-delay:$x * .1s; 
  }
}

@for $x from 1 through 4{
  .show.li:nth-child(#{$x}) {
    transform: translateY(0);
    opacity: 1;
    transition:$x * 0.2s + .4s;
    transition-delay:$x * 0.2s + .4s;
    
  }
}
.ul-grid li a{
  display: inline-block;
  text-decoration: none;
  color:white;
  text-transform: uppercase;
  font-size:1.3rem;
  letter-spacing: 5px;
  transition: all .2s;
}

.li a:hover{
  transform: rotate(-5deg) scale(1.2);
  color: yellow;
}