
.container{
  display:grid;
  grid-template-columns:5fr 4fr;
  height:100vh;
  background: ghostwhite;
}
.info{
  margin:auto auto;
  padding:1rem;
}
.imgContainer{
  display:grid;
  justify-items: start;
  align-items: center;
}
.img{
  height:50%;
  width:88%;
}
.title{
  font-size: 4.5rem; 
  color:#3C5A99;
}
.subTitle{
  font-size: 1.2rem;
  font-family: 'Lato';
  font-weight: 400;
  margin:1rem 0;
  color:rgb(95, 117, 167);
}
.calories{
  font-size: 2rem;
  color:rgb(95, 117, 167);
}
.btn{
  padding: 0 5px;
  background: #a6cb12;
  margin:1rem 0;
  cursor: pointer;
  border-radius: 6px;
  color:white;
  border: none;
  padding: 5px 10px 5px 10px;
  font-size: 1.2rem;
  font-weight: 500;
}
@media only screen and (max-width: 1120px) {
  .container{
    display:grid;
    grid-template-columns:1fr 1.3fr;
    height:100vh;
  }
  .title{
    font-size: 3rem;
    line-height: 120%; 
  }
  .subTitle{
    font-size: 1.3rem;
  }
  .calories{
    font-size: 1.5rem;
    margin:1rem 0;
  }

}
@media only screen and (max-width: 795px) {
  .container{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: auto 1fr;
    height:100vh;
  }
  .title{
    font-size: 4rem;  
  }
  .subTitle{
    font-size: 1.1rem;
  }
  .calories{
    font-size: 2rem;
    margin:1rem 0;
  }
  .imgContainer{
    display:grid;
    justify-items: center;
    align-items: center;
  }
  .img{
    height:80%;
    width:80%;
  }
}
@media only screen and (max-width: 520px) {
  .title{
    font-size: 3rem;  
  }
  .img{
    height:70%;
    width:100%;
  }
}
